<!-- it is compulsory to have a "views" folder with "index.ejs"(here list.ejs) file inside it -  -> -->
<!-- anthing which is valid for html will be valid for ejs file  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <!-- <h1>It's a weekday!</h1> -->


    <!-- <%= kindOfDay %>----creating ejs template -->
    <!-- <h1>it's a <%= kindOfDay %> !</h1>   -->  <!-- creating ejs template -->
  
 <!-- <% text which is not html %>  to don't print them like if-else statement-->

     <!-- if(kindOfDay==="saturday" || kindOfDay==="sunday"){ 
        <h1 style="color: purple"><%= kindOfDay %> ToDo List</h1>
     }else{  
        <h1 style="color: blue"><%= kindOfDay %> ToDo List</h1>
     } 
     -->

     <h1>bjkdvbjwi</h1>

    
    
</body>
</html>
